[submodule "nautilus_trader"]
	path = nautilus_trader
	url = https://github.com/nautechsystems/nautilus_trader.git
[submodule "vectorbtpro"]
	path = vectorbtpro
	url = https://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@github.com/polakowo/vectorbt.pro.git
[submodule "genietraderapi"]
	path = genietraderapi
	url = https://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@github.com/Bucanero06/Genie-Trader-API.git
[submodule "contentadvisor"]
	path = contentadvisor
	url = https://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@github.com/Bucanero06/Content-Advisor.git
