msgspec
pandas
uvicorn
fastapi
PyYAML
numpy
requests
matplotlib
vectorbtpro
scikit-learn
pydantic
streamlit
swifter
redis
cffi
Pillow
ipython
h11
tabulate
pip
attrs
wheel
cryptography
tornado
Jinja2
pytz
anyio
sniffio
click
Pygments
rich
idna
certifi
Cython
setuptools
numba
python-dateutil
pyarrow
numexpr
six
wcwidth
uvloop
starlette
urllib3
pyparsing
cycler
ipykernel
kiwisolver
packaging
zipp
scipy
seaborn
psutil
yfinance
QuantStats
beautifulsoup4
lxml